input[type="date"] {
  width: 252px;
  height: 48px;
  background: $secondary-02;
  border: 2px solid $secondary-02;
  padding: 12px 16px;
  box-sizing: border-box;
  border-radius: 8px;

  &:hover {
    border: 2px solid $secondary;
  }
}
