.weekly-forecast-card {
  &__header {
    padding-bottom: 5px;
  }

  &__dropdown {
    margin-top: 20px;
  }

  &__mock-image {
    width: 160px;
    height: 160px;
    background-image: url("data:image/svg+xml;utf8,<svg width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' style='fill: none; stroke: grey; stroke-width: 3; stroke-dasharray: 8 3'/></svg>");
    margin-bottom: 28px;
  }

  &__image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 60px auto 0;
    width: 100%;
    overflow: visible;
  }

  &__forecast-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    width: 100%;
    position: relative;
    overflow: visible;
  }

  &__weather-icon {
    width: 120px;
    height: 120px;
  }

  &__arrow {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    cursor: pointer;

    &--left {
      left: -30px;
    }

    &--right {
      right: -30px;
    }

    &--disabled {
      cursor: auto;
      opacity: 0.4;
    }
  }
}
