@import "src/sass/variables";

.main-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 16px 41px;
  background: no-repeat left bottom url("../../assets/Academy-Weather forecast-Bg-buttom.png"), no-repeat right top url("../../assets/Academy-Weather forecast-Bg-up-1.png"), $accent;

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 34px;
    margin: 0 auto;
    flex-grow: 1;
  }

  &__footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

}
