@import "src/sass/variables";

.main-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 16px 41px;
  background: no-repeat left bottom url("../../assets/Academy-Weather forecast-Bg-buttom.png"), no-repeat right top url("../../assets/Academy-Weather forecast-Bg-up-1.png"), $accent;

  @media screen and (max-width: 760px) {
    padding: 10px;
  }

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__main {
    display: flex;
    flex-grow: 1;
    padding-bottom: 46px;
    width: 100%;
    justify-content: center;
    align-items: center;

    & > article:first-child {
      margin-right: 34px
    }

    @media screen and (max-width: 1440px) {
      flex-direction: column;

      & > article:first-child {
        margin-right: 0;
        margin-bottom: 34px;
      }
    }
  }

  &__footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

}
