.date-forecast-card {
  &__header {
    padding-bottom: 5px;
  }
  &__mock-image {
    width: 160px;
    height: 160px;
    margin-bottom: 28px;
  }
  &__image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 60px auto 0;
    width: 100%;
  }
  &__inputs-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    overflow: visible;

    @media screen and (max-width: 760px) {
      flex-direction: column;

      button:first-child {
        margin-bottom: 24px;
      }
    }
  }
}
